<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple">
    <p>Loading...</p>
</ngx-spinner>

<div class="container">
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center"><strong>Login</strong></h2>

                <div class="form-group">
                    <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" formControlName="password"
                        placeholder="Password">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Submit</button>
                </div>
                <a routerLink="/signup" class="already">To create account? Click here.</a>
                

            </form>

        </div>
    </div>
</div>