<div class="row">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img [src]="image.src" alt="Random first slide" style="width:100%">
          </div>
          <div class="carousel-caption">
            <h3>{{ image.title }}</h3>
            <p>{{ image.short }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>
<div class="row">
    <div class="col-4 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/jackets.png" alt="Card image cap">
            <button class="card-btn">Jackets</button>
          </div>
    </div>
    <div class="col-4 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/gloves.png" alt="Card image cap">
            <button class="card-btn">Gloves</button>
          </div>
    </div>
    <div class="col-4 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/laggage.png" alt="Card image cap">
            <button class="card-btn">Laggage</button>
          </div>
    </div>

</div>
<div class="row">
    <div class="col-3 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/pants.jpg" alt="Card image cap">
            <button class="card-btn">Pants</button>
          </div>
    </div>
    <div class="col-3 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/knee-guards.jpg" alt="Card image cap">
            <button class="card-btn">Knee Guards</button>
          </div>
    </div>
    <div class="col-3 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/accessories.jpg" alt="Card image cap">
            <button class="card-btn">Accessories</button>
          </div>
    </div>
    <div class="col-3 pd-0">
        <div class="card w-100" >
            <img class="card-img-top" src="../../assets/base-layers.png" alt="Card image cap">
            <button class="card-btn">Base Layers</button>
          </div>
    </div>
</div>